<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- Seleccionar Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente</label>
      <select class="form-control"
              formControlName="region">
        <option value="">Seleccione un continente</option>
        <option *ngFor="let region of regiones; let i = index;"
                 [value]="region | lowercase"
                  >{{region}}</option>
      </select>
    </div>
  </div>

  <!-- Seleccionar País -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label" >País</label>
      <select class="form-control"
              formControlName="pais">
        <option value="">Seleccione un País</option>
        <option *ngFor="let pais of paises; let i = index;"
                 [value]="pais.cca3"
                  >{{pais.name.common}}</option>
      </select>
    </div>
  </div>


  <!-- Seleccionar Frontera -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label" >Fronteras</label>
      <select class="form-control"
              formControlName="fronteras">
        <option value="">Seleccione el país fronterizo</option>
        <option *ngFor="let frontera of fronteras; let i = index;"
                 [value]="frontera"
                  >{{frontera}}</option>
      </select>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <button class="btn btn-primary fload-end"
              type="submit">Guardar</button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>
